# Maven build binaries
target/
**/pom.xml.versionsBackup
dependency-reduced-pom.xml

# Runtime generated

# Eclipse generated structures
.settings/
.classpath
.project
bin/

# Intellij generated structures
.idea
*.iml

# Mac OSX files
.DS_Store

# vi undo files
*.un~
